# os
.DS_Store
Thumbs.db

# build
/dist/bin
/*res.syso
/dist/windows/installer/tmp
/dist/windows/installer/wails_tools.nsh
/build

# vendor
/vendor

# config
/repos.yaml

# profiling
pprof.sh
pprof.pdf
heap*.out
pprof*.out
goroutine*.out
logs*.out

# git
.mailmap
