@use "!mixins" as *;

.btn {
  border: none;
  color: var(--color-text);
  fill: var(--color-text);
  background-color: var(--color-btn-bg);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    color: var(--color-text-muted);
    fill: var(--color-text-muted);
    background-color: var(--color-btn-bg-disabled);
  }

  &.active {
    background-color: var(--color-btn-bg-active);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-btn-bg-hover);
  }
}

.btn-drop {
  position: relative;

  &::after {
    content: "";
    @include carat-down;
    position: absolute;
    right: 1.5rem;
    width: 0.67rem;
    height: 0.67rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.active {
    &::after {
      @include carat-up;
    }
  }
}

.list-btn {
  text-align: left;
  border: 0;
  font-size: 0.9rem;
  padding: 0.6rem 0.75rem;
  margin: 0;
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;

  &:hover {
    background-color: var(--color-btn-bg-hover);
  }

  &.name {
    width: 100%;
  }

  &.x {
    &:hover {
      background-color: var(--color-red-800);
    }
  }
}
