@use "!mixins" as *;

.btn {
  border: none;
  color: var(--color-text);
  fill: var(--color-text);
  background-color: var(--color-btn-bg);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 0.25rem;
  @include no-select;

  & + & {
    margin-left: 0.25rem;
  }

  svg {
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  &-sm {
    padding: 0.35rem 0.8rem;
    font-size: 0.9rem;

    svg {
      margin: -0.25rem -0.2rem 0 0.15rem;
    }
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    color: var(--color-text-muted);
    fill: var(--color-text-muted);
    background-color: var(--color-btn-bg-disabled);
  }

  &.active {
    background-color: var(--color-btn-bg-active);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-btn-bg-hover);
  }
}

.textbtn {
  border: none;
  background: none;
  color: var(--color-text);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0;

  &:not(:disabled) {
    cursor: pointer;
  }

  svg {
    fill: var(--color-text);
    vertical-align: middle;
  }
}

.btn-drop {
  position: relative;
  border-radius: 0;

  &::after {
    content: "";
    @include carat-down;
    position: absolute;
    right: 1.5rem;
    width: 0.67rem;
    height: 0.67rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.active {
    &::after {
      @include carat-up;
    }
  }
}

.list-btn {
  text-align: left;
  border: 0;
  font-size: 0.9rem;
  padding: 0.6rem 0.75rem;
  margin: 0;
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;
  border-radius: 0;

  &:hover {
    background-color: var(--color-btn-bg-hover);
  }

  &.name {
    width: 100%;
  }

  &.x {
    &:hover {
      background-color: var(--color-scale-r-6-100);
    }
  }
}

.icon {
  &.success {
    fill: var(--color-scale-g-4-100);
  }
}
