.changes {
  text-align: left;
  background-color: var(--color-changes-bg);
  height: 100%;

  &__header {
    font-size: 0.9rem;
    color: var(--color-scale-a-3-100);
    padding: 0.5rem 0.75rem 0.5rem;
    border-bottom: 1px solid var(--color-changes-border);
  }

  &__list {
    list-style: none;
    margin: 0 0 0.5rem;
    padding: 0;
    background-color: var(--color-changes-list-bg);
  }

  &__change {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid var(--color-changes-border);
    padding: 0.30rem 1.5rem 0.36rem;
    min-height: 3rem;
  }

  &__file {
    display: flex;
    flex-direction: column;
  }

  &__dir {
    color: var(--color-scale-a-3-100);
    font-size: 0.85rem;
  }

  &__status {
    position: relative;
    margin-left: auto;

    &::after {
      content: '';
      width: 1.15rem;
      height: 1.15rem;
      font-size: 0.85rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--added {
      &::after {
        content: 'A';
        color: var(--color-scale-g-3-100);
      }
    }

    &--copied {
      &::after {
        content: 'C';
        color: var(--color-scale-y-7-100);
      }
    }

    &--deleted {
      &::after {
        content: 'D';
        color: var(--color-scale-r-3-100);
      }
    }

    &--modified {
      &::after {
        content: 'M';
        color: var(--color-scale-o-3-100);
      }
    }

    &--renamed {
      &::after {
        content: 'R';
        color: var(--color-scale-b-7-100);
      }
    }

    &--type-changed {
      &::after {
        content: 'T';
        color: var(--color-scale-p-7-100);
      }
    }

    &--unmerged {
      &::after {
        content: 'U';
        color: var(--color-scale-n-7-100);
      }
    }

    &--untracked {
      &::after {
        content: 'U';
        color: var(--color-scale-g-3-100);
      }
    }

    &--ignored {
      &::after {
        content: '!';
        color: var(--color-scale-o2-6-100);
      }
    }

    &--not-updated {
      &::after {
        content: '-';
        color: var(--color-scale-a-6-100);
      }
    }

    &--unknown {
      background-color: #00f;

      &::after {
        content: 'X';
        color: #f00;
      }
    }
  }
}
