@use "!mixins" as *;

.changes {
  text-align: left;
  background-color: var(--color-changes-bg);
  flex: 2;
  @include no-select;

  &__header {
    font-size: 0.9rem;
    color: var(--color-scale-a-3-100);
    border-bottom: 1px solid var(--color-changes-border);
    display: flex;
    justify-content: space-between;

    &-section,
    &-stage-all .textbtn {
      vertical-align: middle;
      padding: 0.25rem 0.75rem;
    }

    &-stage-all {
      .textbtn {
        font-size: 0.9rem;
        color: var(--color-scale-a-3-100);

        svg {
          margin-top: -0.125rem;
          fill: var(--color-scale-a-3-100);
        }
      }

      &--stage .textbtn:hover {
        color: var(--color-scale-g-3-100);

        svg {
          fill: var(--color-scale-g-3-100);
        }
      }

      &--unstage .textbtn:hover {
        color: var(--color-scale-r-3-100);

        svg {
          fill: var(--color-scale-r-3-100);
        }
      }
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 0.5rem;
    padding: 0;
  }
}

.change {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid var(--color-changes-border);
  background-color: var(--color-changes-list-bg);
  padding: 0 1.5rem 0 0;
  min-height: 3rem;
  cursor: pointer;

  &.active {
    background-color: var(--color-changes-list-bg-hover);
  }

  &__stage {
    padding: 0.75rem;

    svg {
      margin-bottom: 0.125rem;
      vertical-align: middle;
      fill: var(--color-scale-a-3-100);
    }

    &:hover svg {
      fill: var(--color-scale-g-3-100);
    }

    &--unstage:hover svg {
      fill: var(--color-scale-r-3-100);
    }
  }

  &__file {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__filename {
    display: flex;
    flex-direction: column;
  }

  &__dir {
    color: var(--color-scale-a-3-100);
    font-size: 0.85rem;
  }

  &__oldfile {
    color: var(--color-scale-a-3-100);
    font-size: 0.85rem;
  }

  &__status {
    position: relative;
    margin-left: auto;

    &::after {
      content: '';
      width: 1.15rem;
      height: 1.15rem;
      font-size: 0.85rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--added {
      &::after {
        content: 'A';
        color: var(--color-scale-g-3-100);
      }
    }

    &--copied {
      &::after {
        content: 'C';
        color: var(--color-scale-y-7-100);
      }
    }

    &--deleted {
      &::after {
        content: 'D';
        color: var(--color-scale-r-3-100);
      }
    }

    &--modified {
      &::after {
        content: 'M';
        color: var(--color-scale-o-3-100);
      }
    }

    &--renamed {
      &::after {
        content: 'R';
        color: var(--color-scale-b-5-100);
      }
    }

    &--type-changed {
      &::after {
        content: 'T';
        color: var(--color-scale-p-7-100);
      }
    }

    &--unmerged {
      &::after {
        content: 'U';
        color: var(--color-scale-n-7-100);
      }
    }

    &--untracked {
      &::after {
        content: 'U';
        color: var(--color-scale-g-3-100);
      }
    }

    &--ignored {
      &::after {
        content: '!';
        color: var(--color-scale-o2-6-100);
      }
    }

    &--not-updated {
      &::after {
        content: '-';
        color: var(--color-scale-a-6-100);
      }
    }

    &--unknown {
      background-color: #00f;

      &::after {
        content: 'X';
        color: #f00;
      }
    }
  }
}
