.changes {
  text-align: left;
  background-color: var(--color-changes-bg);
  flex: 2;

  &__header {
    font-size: 0.9rem;
    color: var(--color-scale-a-3-100);
    padding: 0.5rem 0.75rem 0.5rem;
    border-bottom: 1px solid var(--color-changes-border);
  }

  &__list {
    list-style: none;
    margin: 0 0 0.5rem;
    padding: 0;
  }
}

.change {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid var(--color-changes-border);
  background-color: var(--color-changes-list-bg);
  padding: 0.30rem 1.5rem 0.36rem;
  min-height: 3rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-changes-list-bg-hover);
  }

  &__tick {
    padding-right: 1rem;

    &-box {
      display: inline-block;
      vertical-align: middle;
      height: 1.25rem;
      width: 1.25rem;
      margin: 0 0.25rem 0.2rem 0;
      background-color: var(--color-scale-a-5-75);
      position: relative;
  
      &::after {
        content: '';
        position: absolute;
        display: none;

        .change[data-state="checked"] & {
          display: block;
          border: solid var(--color-text);
          border-width: 0 0.25rem 0.25rem 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 0.4rem;
          top: 0.125rem;
          width: 0.25rem;
          height: 0.5rem;
        }

        .change[data-state="partial"] & {
          display: block;
          background-color: var(--color-text);
          border-radius: 50%;
          left: 0.4rem;
          top: 0.35rem;
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }
  }

  &__file {
    display: flex;
    flex-direction: column;
  }

  &__dir {
    color: var(--color-scale-a-3-100);
    font-size: 0.85rem;
  }

  &__status {
    position: relative;
    margin-left: auto;

    &::after {
      content: '';
      width: 1.15rem;
      height: 1.15rem;
      font-size: 0.85rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--added {
      &::after {
        content: 'A';
        color: var(--color-scale-g-3-100);
      }
    }

    &--copied {
      &::after {
        content: 'C';
        color: var(--color-scale-y-7-100);
      }
    }

    &--deleted {
      &::after {
        content: 'D';
        color: var(--color-scale-r-3-100);
      }
    }

    &--modified {
      &::after {
        content: 'M';
        color: var(--color-scale-o-3-100);
      }
    }

    &--renamed {
      &::after {
        content: 'R';
        color: var(--color-scale-b-7-100);
      }
    }

    &--type-changed {
      &::after {
        content: 'T';
        color: var(--color-scale-p-7-100);
      }
    }

    &--unmerged {
      &::after {
        content: 'U';
        color: var(--color-scale-n-7-100);
      }
    }

    &--untracked {
      &::after {
        content: 'U';
        color: var(--color-scale-g-3-100);
      }
    }

    &--ignored {
      &::after {
        content: '!';
        color: var(--color-scale-o2-6-100);
      }
    }

    &--not-updated {
      &::after {
        content: '-';
        color: var(--color-scale-a-6-100);
      }
    }

    &--unknown {
      background-color: #00f;

      &::after {
        content: 'X';
        color: #f00;
      }
    }
  }
}
