@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.code-breakdown {
  text-align: left;

  &__inner {
    margin: 0 1.5rem;
  }

  &__loading {
    svg {
      fill: var(--color-text);
      animation: rotating 3s linear infinite;
    }
  }

  &__bar {
    width: 100%;
    display: flex;
    border-radius: 0.375rem;
    overflow: hidden;

    > div {
      height: 0.75rem;
    }
  }

  table {
    margin: 1.5rem 0;
    width: 100%;
  }

  tr {
    th,
    td {
      padding: 0.25rem 1.5rem 0.25rem 0;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  th {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--color-text-muted);
  }

  td {
    &.dot {
      width: 1rem;
      margin-right: 1rem;

      span {
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
      }
    }

    &.name {
      font-weight: bold;
    }
  }

  &__no-data {
    color: var(--color-text-muted);
  }
}
