.commits {
  width: 100%;
  height: calc(100vh - var(--tabs-height) - var(--title-bar-height));
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: middle;

  &__table {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  &__th {
    height: var(--commit-details-height);
    box-sizing: border-box;
    text-align: left;
    padding: 0.25rem 0.5rem 0.25rem 0.67rem;
    white-space: nowrap;
    background-color: var(--color-scale-a-7-100);
    cursor: default !important;
    user-select: none;
    -webkit-user-select: none;
    position: relative;

    &--branch {
      text-align: right;
      padding-right: 1rem;
    }

    &--tree {
      padding: 0;
    }

    &--subject {
      width: 100%;
    }

    &-inner {
      padding: 0.25rem 0.5rem;
    }

    &:first-child {
      border-right: 1px solid var(--color-scale-a-8-100);
    }

    &:not(:first-child) {
      border-left: 1px solid var(--color-scale-a-8-100);
    }
  }
}
