.commit-details {
  height: var(--commit-details-height);
  display: flex;
  flex-direction: row;
  text-align: left;
  position: relative;

  &.dragging {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    pointer-events: none;
  }

  &__left,
  &__right {
    flex: 1;
    overflow-y: auto;
    border-top: 1px solid var(--color-commitdetails-border);
    padding: 0.33rem 0.25rem;
  }

  &__left {
    table {
      th {
        text-align: right;
        padding: 0.3rem 0.4rem 0.2rem 0.75rem;
        white-space: nowrap;
        vertical-align: top;
        cursor: default !important;
        user-select: none;
        -webkit-user-select: none;
        font-weight: normal;
        color: var(--color-text-muted);
        font-size: 0.9rem;
      }

      td {
        padding: 0.25rem 0.75rem 0.25rem 0.4rem;
      }
    }
  }
}

.filestatdir {
  // The first dir is the root, skip styling that one.
  &__dir &__dir {
    margin-left: 1rem;
    &-name {
      color: var(--color-text-muted);
    }
  }

  &__file {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
    color: var(--color-text);

    &--M {
      color: var(--color-scale-o-1-100);
    }

    &--A {
      color: var(--color-scale-g-1-100);
    }

    &--D {
      color: var(--color-scale-r-3-100);
    }

    &--R {
      color: var(--color-scale-b-2-100);
    }

    .diff {
      color: var(--color-text-muted);
    }

    .added {
      color: var(--color-scale-g-3-100);
    }

    .deleted {
      color: var(--color-scale-r-4-100);
    }

    &-old {
      color: var(--color-text-muted);
    }
  }
}
