.commits {
  width: calc(100% - var(--resize-bar-width));
  height: calc(100vh - var(--tabs-height) - var(--title-bar-height) - var(--resize-bar-width));
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__table-container {
    overflow: auto;
    height: calc(100% - var(--commit-details-height));
  }

  &__table {
    margin-bottom: 0.5rem;
    width: 100%;

    tr:first-child {
      td {
        padding: 0;
      }
    }
  }

  &__th {
    height: var(--commit-row-height);
    box-sizing: border-box;
    text-align: left;
    padding: 0.25rem 0.5rem 0.25rem 0.67rem;
    white-space: nowrap;
    background-color: var(--color-scale-a-7-100);
    cursor: default !important;
    user-select: none;
    -webkit-user-select: none;
    position: sticky;
    top: 0;
    z-index: 500;

    &--branch {
      text-align: right;
      padding-right: 1rem;
    }

    &--subject {
      width: 100%;
    }

    &-inner {
      padding: 0.25rem 0.5rem;
    }

    &:first-child {
      border-right: 1px solid var(--color-scale-a-8-100);
    }

    &:not(:first-child) {
      border-left: 1px solid var(--color-scale-a-8-100);
    }

    // Order z-index of columns in descending order to allow resizer to z-index correctly.
    @for $n from 0 to 8 {
      &:nth-child(#{$n}) {
        z-index: calc(550 - #{$n});
      }
    }
  }
}
