@use "!mixins" as *;

.commit-details {
  --width-details-left: 46%;
  --width-details-right: 54%;

  height: var(--commit-details-height);
  display: flex;
  flex-direction: row;
  text-align: left;
  position: relative;

  &.dragging {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    pointer-events: none;
  }

  &__left,
  &__right {
    overflow-y: auto;
    border-top: 1px solid var(--color-commitdetails-border);
    padding: 0.33rem 0.25rem;
    box-sizing: border-box;
  }

  &__left {
    width: var(--width-details-left);

    table {
      th {
        text-align: right;
        padding: 0.3rem 0.4rem 0.2rem 0.75rem;
        white-space: nowrap;
        vertical-align: top;
        cursor: default !important;
        user-select: none;
        -webkit-user-select: none;
        font-weight: normal;
        color: var(--color-text-muted);
        font-size: 0.9rem;
      }

      td {
        padding: 0.25rem 0.75rem 0.25rem 0.4rem;
      }
    }
  }

  &__right {
    width: var(--width-details-right);
    padding-left: 1.75rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: calc(var(--width-details-left) + 0.75rem);
    height: calc(100% - 1rem);
    width: 1px;
    border-left: 1px solid var(--color-commitdetails-border);
  }
}

.filestatdir {
  cursor: default;

  // The first dir is the root, skip styling that one.
  &__dir &__dir {
    margin-left: 1rem;
    user-select: none;
    -webkit-user-select: none;

    &-name {
      color: var(--color-text-muted);
      cursor: pointer;
      position: relative;

      &::before {
        content: '';
        @include carat-down;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        position: absolute;
        left: -1.5rem;
        top: 0rem;
        width: 0.67rem;
        height: 0.67rem;
        padding: 0.45rem;
      }
    }

    &--closed {
      > .filestatdir__dir-name::before {
        transform: rotate(-90deg) translate(0.1rem, 0.05rem);
      }

      > .filestatdir__file {
        display: none;
      }

      .filestatdir__dir {
        display: none;
      }
    }
  }

  &__file {
    cursor: pointer;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
    color: var(--color-text);

    &--M {
      color: var(--color-scale-o-1-100);
    }

    &--A {
      color: var(--color-scale-g-1-100);
    }

    &--D {
      color: var(--color-scale-r-3-100);
    }

    &--R {
      color: var(--color-scale-b-2-100);
    }

    .diff {
      color: var(--color-text-muted);
    }

    .added {
      color: var(--color-scale-g-3-100);
    }

    .deleted {
      color: var(--color-scale-r-4-100);
    }

    &-old {
      color: var(--color-text-muted);
    }
  }
}
