.commit {
  cursor: default !important;
  user-select: none;
  -webkit-user-select: none;
  position: relative;

  &__td {
    text-align: left;
    padding-left: 0.67rem;
    padding-right: 0.67rem;
    height: var(--commit-details-height);
    box-sizing: border-box;
    white-space: nowrap;

    &:first-child {
      padding-left: 0.67rem;
      padding-right: 0;
    }

    &:last-child {
      padding-right: 0.75rem;
    }

    &--tree {
      padding: 0;
      overflow: hidden;
    }

    &--subject,
    &--author,
    &--authortime {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:not(:first-child) {
      .uncommitted & {
        color: var(--color-scale-a-3-100);
      }

      .merge & {
        color: var(--color-scale-a-3-100);
      }

      .stash & {
        color: var(--color-scale-a-2-100);
        font-style: italic;
      }
    }
  }

  &:hover,
  &.hover {
    background-color: var(--color-commitlistitem-bg-hover);
  }
}
