@use "mixins" as *;

input[type="text"],
textarea {
  border: 1px solid var(--color-text-input-border);
  background-color: var(--color-text-input-bg);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0;

  &:focus {
    border-color: var(--color-text-input-border-focus);
    outline: 0;
  }

  &.invalid {
    border-color: var(--color-text-input-border-invalid);
  }

  &:disabled {
    opacity: 0.5;
  }
}

input[type="text"][readonly] {
  border: 0;
}

textarea {
  resize: none;
}

.checkbox {
  display: block;
  position: relative;
  @include no-select-click;

  span {
    display: inline-block;
    vertical-align: middle;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0 0.25rem 0.2rem 0;
    background-color: var(--color-checkbox-bg);
    outline: var(--btn-border); // outline [sic]
    position: relative;
    border-radius: 0.25rem;

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 0.4rem;
      top: 0.125rem;
      width: 0.25rem;
      height: 0.5rem;
      border: solid var(--color-text);
      border-width: 0 0.25rem 0.25rem 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover span {
    background-color: var(--color-checkbox-hover);
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ span::after {
      display: block;
    }
  }
}

.radio {
  margin-bottom: 0.5rem;

  &__label {
    display: block;
    padding: 0 0.5rem 0.5rem 0;
    color: var(--color-text-muted);
    font-size: 0.9rem;
    @include no-select;
  }

  &__option {
    display: inline-block;
    position: relative;
    @include no-select-click;
    margin-right: 0.75rem;

    span {
      display: inline-block;
      vertical-align: middle;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      margin: 0 0.25rem 0.2rem 0;
      background-color: var(--color-checkbox-bg);
      outline: var(--btn-border); // outline [sic]
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 0.35rem;
        top: 0.4rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: var(--color-text);
      }
    }

    &:hover span {
      background-color: var(--color-checkbox-hover);
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ span::after {
        display: block;
      }
    }
  }
}

.text-input,
.file-input {
  display: block;

  &__display {
    display: block;
    padding: 0 0 0.25rem 0;
    color: var(--color-text-muted);
    font-size: 0.9rem;
  }
}

.file-input {
  &__input {
    width: 80%;
    margin-bottom: 0.5rem;
    height: 2.5rem;
    border: 0;
  }

  &__btn {
    width: 19%;
    margin-bottom: 0.5rem;
    height: 2.5rem;
  }
}
