@use "mixins" as *;

input[type="text"],
textarea {
  border: 1px solid var(--color-text-input-border);
  background-color: var(--color-text-input-bg);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0;

  &:focus {
    border-color: var(--color-text-input-border-focus);
    outline: 0;
  }

  &.invalid {
    border-color: var(--color-text-input-border-invalid);
  }

  &:disabled {
    opacity: 0.5;
  }
}

input[type="text"][readonly] {
  border: 0;
}

textarea {
  resize: none;
}

.checkbox {
  display: block;
  position: relative;
  @include no-select-click;

  span {
    display: inline-block;
    vertical-align: middle;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0 0.25rem 0.2rem 0;
    background-color: var(--color-checkbox-bg);
    outline: var(--btn-border); // outline [sic]
    position: relative;
    border-radius: 0.25rem;

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 0.4rem;
      top: 0.125rem;
      width: 0.25rem;
      height: 0.5rem;
      border: solid var(--color-text);
      border-width: 0 0.25rem 0.25rem 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover span {
    background-color: var(--color-checkbox-hover);
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ span::after {
      display: block;
    }
  }
}

.radio {
  margin-bottom: 0.5rem;

  &__label {
    display: block;
    padding: 0 0.5rem 0.5rem 0;
    color: var(--color-text-muted);
    font-size: 0.9rem;
    @include no-select;
  }

  &__option {
    display: inline-block;
    position: relative;
    @include no-select-click;
    margin-right: 0.75rem;

    span {
      display: inline-block;
      vertical-align: middle;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      margin: 0 0.25rem 0.2rem 0;
      background-color: var(--color-checkbox-bg);
      outline: var(--btn-border); // outline [sic]
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 0.35rem;
        top: 0.4rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: var(--color-text);
      }
    }

    &:hover span {
      background-color: var(--color-checkbox-hover);
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ span::after {
        display: block;
      }
    }
  }
}

.text-input,
.file-input {
  display: block;

  &__display {
    display: block;
    padding: 0 0 0.25rem 0;
    color: var(--color-text-muted);
    font-size: 0.9rem;
  }
}

.file-input {
  &__input {
    width: 80%;
    margin-bottom: 0.5rem;
    height: 2.5rem;
    border: 0;
  }

  &__btn {
    width: 19%;
    margin-bottom: 0.5rem;
    height: 2.5rem;
  }
}

.range {
	--thumb-height: 1rem;
	--track-height: 0.25rem;

  display: flex;
  align-items: center;

  &__slider {
    appearance: none;
  	position: relative;
  	background: var(--color-btn-bg);
    border: var(--btn-border);
    padding: 0.75rem 0.5rem;
    margin: 0.25rem 0;
    border-radius: 0.5rem;
  	color: var(--color-range);
  	overflow: hidden;
  	transition: all ease 100ms;
  	height: var(--thumb-height);
  	font-size: 1.5rem;
  	width: 12.5rem;

    &:active {
      cursor: grabbing;
    }

    &:disabled {
      filter: grayscale(1);
      opacity: 0.3;
      cursor: not-allowed;
    }

    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
    	appearance: none;
    	transition: all ease 100ms;
      position: relative;
    	height: var(--thumb-height);
    }

    &::-webkit-slider-thumb {
      --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
      --clip-bottom: calc(var(--thumb-height) - var(--clip-top));

      width: var(--thumb-height);
      background-color: currentColor;
      border-radius: var(--thumb-height);
      filter: brightness(100%);
      clip-path: polygon(
        100% -1px,
        0.25rem -1px,
        0 var(--clip-top),
        0 var(--clip-bottom),
        0.25rem 100%,
        calc(100% + 1px) calc(100% + 1px)
      );
    }

    &::-webkit-slider-runnable-track {
    	background: linear-gradient(var(--color-range-track) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
    }

    &:hover::-webkit-slider-thumb {
      filter: brightness(150%);
      cursor: grab;
    }
    
    &:active::-webkit-slider-thumb {
      filter: brightness(80%);
      cursor: grabbing;
    }
  }

  &__value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
  }
}
