
* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-app-bg);
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 13px;
}

body {
  margin: 0;
}

body, button, input, textarea {
  font-size: 1rem;
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-variant: common-ligatures slashed-zero tabular-nums;
}

table {
  border-spacing: 0;
}

a {
  color: var(--color-links);
  text-decoration: none;
  cursor: pointer;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#sidebar {
  width: var(--sidebar-width);
  overflow: visible;
  height: calc(100% - var(--title-bar-height));
  border-right: 1px solid var(--color-sidebar-border);
}

main {
  z-index: 1;
  width: calc(100% - var(--sidebar-width));
  height: calc(100% - var(--title-bar-height));
}

.overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  background-color: var(--color-scrollbar-bg);
  height: 1rem;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--color-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-fg);
}

::-webkit-scrollbar-corner {
  background-color: var(--color-scrollbar-bg);
}

::selection {
  color: var(--color-scale-a-9-100);
  background-color: var(--color-scale-a-1-100);
}

.resizer {
  cursor: col-resize;
  position: absolute;
  top: 0;
  right: -3px;
  width: 6px;
  z-index: 1000;
  pointer-events: all;
}

.resizer-h {
  cursor: row-resize;
  position: absolute;
  top: -5px;
  left: 0;
  height: 10px;
  z-index: 1000;
  pointer-events: all;
}

.window-resize {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-scale-a-9-50);

  &--right {
    width: var(--resize-bar-width);
    height: calc(100vh - var(--tabs-height) - var(--title-bar-height));
  }

  &--bottom {
    width: calc(100vw - var(--sidebar-width));
    height: var(--resize-bar-width);
  }
}
