
* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-app-bg);
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 13px;
}

body {
  margin: 0;
}

body, button, input, textarea {
  font-size: 1rem;
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-variant: common-ligatures slashed-zero tabular-nums;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: middle;
}

#sidebar {
  width: var(--sidebar-width);
  overflow: visible;
  height: 100%;
}

main {
  z-index: 1;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
}

.overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
