@use "!mixins" as *;

.modal {
  --color-btn-bg: var(--color-scale-a-6-100);
  --color-btn-border: var(--color-scale-a-7-100);
  --color-btn-bg-hover: var(--color-scale-a-5-100);

  display: block;
  z-index: 50;

  .overlay {
    z-index: 100;
  }

  &__box {
    z-index: 200;
    background-color: var(--color-modal-bg);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    min-width: 30rem;
    max-width: 45rem;
  }

  &__heading {
    font-size: 1.25rem;
    padding: 1rem;
    border-bottom: 1px solid var(--color-modal-border);
  }

  &__text {
    padding: 1rem;
    white-space: pre-wrap;
    line-height: 1.5;
  }

  &__options {
    min-width: 55rem;
    max-width: 80vw;
    padding: 1rem;
    display: flex;
  }

  &__option {
    flex: 1;

    &.btn {
      margin: 1rem;
      padding-bottom: 1rem;
    }
  }

  &__option-icon {
    margin: 0.25rem auto 1rem;
    text-align: center;
  }

  &__response {
    text-align: right;
    border-top: 1px solid var(--color-modal-border);
    padding: 1rem;
    @include no-select;

    .btn:disabled {
      background-color: var(--color-scale-a-6-50);
    }
  }

  &__checkboxes {
    padding: 0 1rem;

    .checkbox {
      margin-bottom: 1rem;
    }
  }

  &__blank {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    min-width: 30rem;

    input[type="text"] {
      width: 100%;
    }
  }

  &__add-tag {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    min-width: 30rem;

    input[type="text"] {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .checkbox {
      margin-top: 0.75rem;
    }
  }

  &__new-repo,
  &__clone-repo {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    min-width: 35rem;

    #message-dialog-repo-name,
    #message-dialog-repo-url {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    #message-dialog-repo-location {
      width: 80%;
      margin-bottom: 0.5rem;
      height: 2.5rem;
      border: 0;
    }

    #message-dialog-repo-location-btn {
      width: 19%;
      margin-bottom: 0.5rem;
      height: 2.5rem;
    }
  }
}
