.modal {
  --color-btn-bg: var(--color-scale-a-6-100);
  --color-btn-border: var(--color-scale-a-7-100);
  --color-btn-bg-hover: var(--color-scale-a-5-100);

  display: none;
  z-index: 50;

  .overlay {
    z-index: 100;
  }

  &__box {
    z-index: 200;
    background-color: var(--color-modal-bg);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    white-space: pre-wrap;
  }

  &__text {
    padding: 1rem;
  }

  &__response {
    text-align: center;
    border-top: 1px solid var(--color-modal-border);
    padding: 1rem;
  }
}
