@use '!mixins' as *;

.repo-info {
  text-align: left;

  &__things {
    display: flex;
    margin: 0 1.5rem;
    column-gap: 1.5rem;

    svg {
      vertical-align: middle;
      margin-right: 0.25rem;
      margin-top: -0.25rem;
      fill: var(--color-text);
    }
  }
}
