@use "!mixins" as *;

// Place this modifier class, e.g. `repo-state--{$repoState}`, on
// any element we wish to directly change, depending on the state
// of the repo.
.repo-state {
  --repo-state-banner-bg: var(--color-scale-r-8-100);

  &__banner {
    padding: 0.75rem;
    @include no-select;
    background-color: var(--repo-state-banner-bg);
  }

  // &--RepoStateNone {}

  &--RepoStateRebase,
  &--RepoStateRebaseInteractive {
    --color-btn-bg: var(--color-scale-p-8-100);
    --color-btn-bg-hover: var(--color-scale-p-7-100);
    --color-btn-bg-disabled: var(--color-scale-p-8-75);
    --repo-state-banner-bg: var(--color-scale-p-8-100);

    &.text-input:focus {
      border-color: var(--color-scale-p-5-100);
    }

    &.commit.uncommitted .commit__td:not(:first-child) {
      color: var(--color-scale-p-4-100);
    }
  }

  &--RepoStateMerge,
  &--RepoStateRebaseMerge {
    --color-btn-bg: var(--color-scale-n-8-100);
    --color-btn-bg-hover: var(--color-scale-n-7-100);
    --color-btn-bg-disabled: var(--color-scale-n-8-75);
    --repo-state-banner-bg: var(--color-scale-n-8-100);

    &.text-input:focus {
      border-color: var(--color-scale-n-5-100);
    }

    &.commit.uncommitted .commit__td:not(:first-child) {
      color: var(--color-scale-n-4-100);
    }
  }

  &--RepoStateApply,
  &--RepoStateApplyOrRebase {
    --color-btn-bg: var(--color-scale-p-8-100);
    --color-btn-bg-hover: var(--color-scale-p-7-100);
    --color-btn-bg-disabled: var(--color-scale-p-8-75);
    --repo-state-banner-bg: var(--color-scale-p-8-100);

    &.text-input:focus {
      border-color: var(--color-scale-p-5-100);
    }

    &.commit.uncommitted .commit__td:not(:first-child) {
      color: var(--color-scale-p-4-100);
    }
  }

  &--RepoStateRevert,
  &--RepoStateRevertSequence {
    --color-btn-bg: var(--color-scale-p-8-100);
    --color-btn-bg-hover: var(--color-scale-p-7-100);
    --color-btn-bg-disabled: var(--color-scale-p-8-75);
    --repo-state-banner-bg: var(--color-scale-p-8-100);

    &.text-input:focus {
      border-color: var(--color-scale-p-5-100);
    }

    &.commit.uncommitted .commit__td:not(:first-child) {
      color: var(--color-scale-p-4-100);
    }
  }

  &--RepoStateCherryPick,
  &--RepoStateCherryPickSequence {
    --color-btn-bg: var(--color-scale-n-8-100);
    --color-btn-bg-hover: var(--color-scale-n-7-100);
    --color-btn-bg-disabled: var(--color-scale-n-8-75);
    --repo-state-banner-bg: var(--color-scale-n-8-100);

    &.text-input:focus {
      border-color: var(--color-scale-n-5-100);
    }

    &.commit.uncommitted .commit__td:not(:first-child) {
      color: var(--color-scale-n-4-100);
    }
  }

  &--RepoStateBisect {
    --color-btn-bg: var(--color-scale-o-8-100);
    --color-btn-bg-hover: var(--color-scale-o-7-100);
    --color-btn-bg-disabled: var(--color-scale-o-8-75);
    --repo-state-banner-bg: var(--color-scale-o-8-100);

    &.text-input:focus {
      border-color: var(--color-scale-o-5-100);
    }
  }
}
