.tabs {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--color-btn-border);
  height: var(--tabs-height);

  &__tab {
    flex: 1;
    border: none;
    color: var(--color-text);
    background-color: var(--color-btn-bg);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0;
    cursor: pointer;

    &:not(:last-child) {
      border-right: 1px solid var(--color-btn-border);
    }

    &.active {
      background-color: var(--color-btn-bg-active);
    }

    &:hover {
      background-color: var(--color-btn-bg-hover);
    }

    &--settings {
      flex: initial;
      padding: 0 0.75rem;

      svg {
        fill: var(--color-text-muted);
        vertical-align: middle;
      }
    }
  }
}

.tab-content {
  width: calc(100% - var(--resize-bar-width));
  height: calc(100vh - var(--tabs-height) - var(--title-bar-height) - var(--resize-bar-width));
}
