$num-colors: 9;

#tree {
  .b {
    stroke: red;
  }

  @for $c from 0 through $num-colors - 1 {
    .b-#{$c} {
      stroke: var(--color-branch-#{$c}-bg);
    }
  }

  .v {
    fill: red;
  }

  @for $c from 0 through $num-colors - 1 {
    .v-#{$c} {
      fill: var(--color-branch-#{$c}-bg);
    }
  }
}

.commit__label {
  @for $c from 0 through $num-colors - 1 {
    .c-#{$c} & {
      border-color: var(--color-branch-#{$c}-bg) !important;
      background-color: var(--color-branch-#{$c}-bg--translucent) !important;
  
      &::after {
        background-color: var(--color-branch-#{$c}-bg--translucent) !important;
      }
    }
  }
}
