$num-colors: 10;

.tree {
  padding: 0;
  min-width: 4rem;
  text-align: left;

  &__text {
    // Height in pixels!
    height: 24px;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    background-color: var(--color-scale-gray-7);
    font-weight: bold;
  }

  &__graph {
    overflow-x: hidden;
  }

  // Branches
  .b {
    stroke: red;
    stroke-width: 2px;

    &.b-u {
      stroke: var(--color-branch-u-bg);
    }

    @for $c from 0 through $num-colors - 1 {
      &.b-#{$c} {
        stroke: var(--color-branch-#{$c}-bg);
      }
    }
  }

  // Vertices
  .v {
    fill: red;

    &.v-u {
      fill: var(--color-branch-u-bg);
    }

    @for $c from 0 through $num-colors - 1 {
      &.v-#{$c} {
        fill: var(--color-branch-#{$c}-bg);
      }
    }
  }
}

.commit__label {
  @for $c from 0 through $num-colors - 1 {
    .c-#{$c} & {
      border-color: var(--color-branch-#{$c}-bg) !important;
      background-color: var(--color-branch-#{$c}-bg--translucent) !important;
  
      &::after {
        background-color: var(--color-branch-#{$c}-bg--translucent) !important;
      }
    }
  }
}
