:root {
  --color-branch-u-bg: var(--color-scale-a-5-100);
  --color-branch-u-bg2: var(--color-scale-a-8-100);
  --color-branch-u-bg--translucent: var(--color-scale-a-5-50);
  --color-branch-0-bg: var(--color-scale-g-5-100);
  --color-branch-0-bg2: var(--color-scale-g-8-100);
  --color-branch-0-bg--translucent: var(--color-scale-g-5-50);
  --color-branch-1-bg: var(--color-scale-t-5-100);
  --color-branch-1-bg2: var(--color-scale-t-8-100);
  --color-branch-1-bg--translucent: var(--color-scale-t-5-50);
  --color-branch-2-bg: var(--color-scale-b-5-100);
  --color-branch-2-bg2: var(--color-scale-b-8-100);
  --color-branch-2-bg--translucent: var(--color-scale-b-5-50);
  --color-branch-3-bg: var(--color-scale-p-5-100);
  --color-branch-3-bg2: var(--color-scale-p-8-100);
  --color-branch-3-bg--translucent: var(--color-scale-p-5-50);
  --color-branch-4-bg: var(--color-scale-n-5-100);
  --color-branch-4-bg2: var(--color-scale-n-8-100);
  --color-branch-4-bg--translucent: var(--color-scale-n-5-50);
  --color-branch-5-bg: var(--color-scale-r-5-100);
  --color-branch-5-bg2: var(--color-scale-r-8-100);
  --color-branch-5-bg--translucent: var(--color-scale-r-5-50);
  --color-branch-6-bg: var(--color-scale-o2-5-100);
  --color-branch-6-bg2: var(--color-scale-o2-8-100);
  --color-branch-6-bg--translucent: var(--color-scale-o2-5-50);
  --color-branch-7-bg: var(--color-scale-o-5-100);
  --color-branch-7-bg2: var(--color-scale-o-8-100);
  --color-branch-7-bg--translucent: var(--color-scale-o-5-50);
  --color-branch-8-bg: var(--color-scale-y-5-100);
  --color-branch-8-bg2: var(--color-scale-y-8-100);
  --color-branch-8-bg--translucent: var(--color-scale-y-5-50);
  --color-branch-9-bg: var(--color-scale-l-5-100);
  --color-branch-9-bg2: var(--color-scale-l-8-100);
  --color-branch-9-bg--translucent: var(--color-scale-l-5-50);

  --color-links: var(--color-scale-g-3-100);

  --color-app-bg--windows: #0d1117cc;
  --color-app-bg--darwin: #0d111766;
  --color-app-bg: var(--color-app-bg--windows);

  --color-sidebar-bg: var(--color-scale-a-8-100);
  --color-sidebar-border: var(--color-scale-a-9-100);
  --color-overlay-bg: var(--color-scale-a-9-75);

  --color-changes-bg: var(--color-scale-a-8-100);
  --color-changes-list-bg: var(--color-scale-a-7-100);
  --color-changes-list-bg-hover: var(--color-scale-a-6-100);
  --color-changes-border: var(--color-scale-a-8-75);
  --color-changes-sep: var(--color-scale-a-9-100);

  --color-text: var(--color-scale-white);
  --color-text-muted: var(--color-scale-a-2-100);
  --color-text-label: var(--color-scale-a-4-100);

  --color-btn-bg: var(--color-scale-a-7-100);
  --color-btn-border: var(--color-scale-a-8-100);
  --color-btn-bg-hover: var(--color-scale-a-6-100);
  --color-btn-bg-active: var(--color-scale-a-6-100);
  --color-btn-bg-disabled: var(--color-scale-a-7-50);

  --color-btn-bg-green: var(--color-scale-g-6-100);
  --color-btn-bg-green-hover: var(--color-scale-g-5-100);

  --color-context-bg: var(--color-scale-a-7-100);
  --color-context-bg-hover: var(--color-scale-a-6-100);
  --color-context-border: var(--color-scale-a-6-100);

  --color-btn2-bg: var(--color-scale-a-6-100);
  --color-btn2-border: var(--color-scale-a-7-100);
  --color-btn2-bg-hover: var(--color-scale-a-5-100);

  --color-modal-bg: var(--color-scale-a-7-100);
  --color-modal-border: var(--color-scale-a-8-100);

  --color-scrollbar-bg: var(--color-scale-a-8-100);
  --color-scrollbar-fg: var(--color-scale-a-6-100);

  --color-commitlistitem-bg-hover: var(--color-scale-a-6-50);
  --color-commitlistitem-bg-active: var(--color-scale-a-6-75);

  --color-commitdetails-border: var(--color-scale-a-7-100);

  --color-details-border: var(--color-scale-a-7-100);
  --color-details-border-2: var(--color-scale-a-6-100);

  --color-diff-line-bg-hunk-header: var(--color-scale-a-7-25);
  --color-diff-line-bg-add: var(--color-scale-g-5-25);
  --color-diff-line-bg-delete: var(--color-scale-r-5-25);
  --color-diff-line-bg-context: var(--color-scale-a-5-25);
  --color-diff-line-bg-change-start: var(--color-scale-n-5-50);
  --color-diff-line-bg-change-flip: var(--color-scale-p-5-50);
  --color-diff-line-bg-change-end: var(--color-scale-b-5-50);
  --color-diff-line-add: var(--color-scale-g-3-100);
  --color-diff-line-delete: var(--color-scale-r-3-100);
  --color-diff-line-no: var(--color-scale-a-3-100);
  --color-diff-hunk-details: var(--color-scale-a-1-100);
  --color-diff-hunk-heading: var(--color-scale-a-3-100);
  --color-diff-toggle-bg: var(--color-scale-p-6-75);
  --color-diff-toggle-bg2: var(--color-scale-p-7-75);
  --color-diff-toggle-bg-off: var(--color-scale-a-6-25);

  --title-bar-height: 2.25rem;
  --sidebar-width: 25rem;
  --repo-button-height: 4rem;
  --tabs-height: 2.5rem;
  --resize-bar-width: 0.33rem;
  --commit-details-height: 25vh;
  --commit-details-height-default: var(--commit-details-height);

  // In Pixels!
  --commit-row-height: 24px;
}
