:root {
  --font-main: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --font-code: FiraCode, monospace;

  --title-bar-height: 2.25rem;
  --sidebar-width: 25rem;
  --repo-button-height: 4rem;
  --tabs-height: 2.5rem;
  --resize-bar-width: 0.33rem;
  --commit-details-height: 25vh;
  --commit-details-height-default: var(--commit-details-height);

  // In Pixels!
  --commit-row-height: 24px;
}
