$color-scale: (
  b: (
    0: #cae8ff,
    1: #a5d6ff,
    2: #79c0ff,
    3: #58a6ff,
    4: #388bfd,
    5: #1f6feb,
    6: #1158c7,
    7: #0d419d,
    8: #0c2d6b,
    9: #051d4d,
  ),
  t: (
    0: #adf0f5,
    1: #7ddfe8,
    2: #54c5d4,
    3: #40aaba,
    4: #2e8a9e,
    5: #237286,
    6: #19576b,
    7: #0f3e52,
    8: #03273a,
    9: #041a25,
  ),
  g: (
    0: #adf5b2,
    1: #7ee787,
    2: #56d364,
    3: #3fb950,
    4: #2ea043,
    5: #238636,
    6: #196c2e,
    7: #0f5323,
    8: #033a16,
    9: #04260f,
  ),
  l: (
    0: #e4f5ad,
    1: #cde77e,
    2: #afd355,
    3: #95ba40,
    4: #779e2e,
    5: #618623,
    6: #496b19,
    7: #33520f,
    8: #273a03,
    9: #152504,
  ),
  y: (
    0: #f8e3a0,
    1: #f2cc60,
    2: #e3b341,
    3: #d29922,
    4: #bb8009,
    5: #9e6a03,
    6: #845306,
    7: #693e00,
    8: #4b2900,
    9: #341a00,
  ),
  o: (
    0: #ffdfb6,
    1: #ffc680,
    2: #ffa657,
    3: #f0883e,
    4: #db6d28,
    5: #bd561d,
    6: #9b4215,
    7: #762d0a,
    8: #5a1e02,
    9: #3d1300,
  ),
  o2: (
    0: #ffddd2,
    1: #ffc2b2,
    2: #ffa28b,
    3: #f78166,
    4: #ea6045,
    5: #cf462d,
    6: #ac3220,
    7: #872012,
    8: #640d04,
    9: #460701,
  ),
  r: (
    0: #ffdcd7,
    1: #ffc1ba,
    2: #ffa198,
    3: #ff7b72,
    4: #f85149,
    5: #da3633,
    6: #b62324,
    7: #8e1519,
    8: #67060c,
    9: #490202,
  ),
  n: (
    0: #ffdaec,
    1: #ffbedd,
    2: #ff9bce,
    3: #f778ba,
    4: #db61a2,
    5: #bf4b8a,
    6: #9e3670,
    7: #7d2457,
    8: #5e103e,
    9: #42062a,
  ),
  p: (
    0: #eddeff,
    1: #e2c5ff,
    2: #d2a8ff,
    3: #bc8cff,
    4: #a371f7,
    5: #8957e5,
    6: #6e40c9,
    7: #553098,
    8: #3c1e70,
    9: #271052,
  ),
  a: (
    0: #f0f6fc,
    1: #c9d1d9,
    2: #b1bac4,
    3: #8b949e,
    4: #6e7681,
    5: #484f58,
    6: #30363d,
    7: #21262d,
    8: #161b22,
    9: #0d1117,
  ),
);

$transparency: (
  25: 40,
  50: 80,
  75: bf,
  100: ff,
);

$color-scale-black: #010409;
$color-scale-white: #ffffff;

:root {
  @each $color, $scale in $color-scale {
    @each $n, $v in $scale {
      @each $t, $o in $transparency {
        --color-scale-#{$color}-#{$n}-#{$t}: #{$v}#{$o};
      }
    }
  }

  --color-scale-black: #{$color-scale-black};
  --color-scale-white: #{$color-scale-white};
}
