.controls {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

  .control {
    --wails-draggable: no-drag;
  }

  &.right {
    right: 0;
    left: initial;
  }

  &.darwin {
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
  
    .control {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      margin: 0.25rem 0.3rem;
      box-sizing: border-box;
  
      span {
        display: none;
        fill: #000;
        opacity: 0.5;
        mix-blend-mode: multiply;
      }
    }
  
    #close {
      background-color: var(--color-app-control-bg-x-darwin);
    }
  
    #minimize {
      background-color: var(--color-app-control-bg-min-darwin);
    }
  
    #maximize {
      background-color: var(--color-app-control-bg-max-darwin);
    }
  
    &:hover {
      .control span {
        display: block;
      }
    }
  }
  
  &.windows {
    .control {
      width: calc(var(--title-bar-height) * 1.5);
      height: var(--title-bar-height);
  
      span {
        display: flex;
        height: var(--title-bar-height);
        justify-content: center;
        align-items: center;
        fill: var(--color-app-control-fill-windows);
  
        svg {
          height: 10px;
          width: 10px;
        }
      }
  
      &:hover {
        background-color: var(--color-app-control-bg-hover-windows);
      }
    }
  
    #close:hover {
      background-color: var(--color-app-control-bg-x-hover-windows);
  
      span {
        fill: var(--color-app-control-fill-x-hover-windows);
      }
    }
  }
  
  &.linux {
    padding: 0.125rem 0.33rem;
    box-sizing: border-box;

    .control {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      margin: 0.25rem 0.3rem;
      box-sizing: border-box;
      background-color: var(--color-app-control-bg-linux);
      display: flex;
      justify-content: center;
      align-items: center;
  
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--color-app-control-fill-linux);
      }
  
      svg {
        height: 8px;
        width: 8px;
      }
  
      &:hover {
        background-color: var(--color-app-control-bg-hover-linux);

        span {
          fill: var(--color-app-control-fill-hover-linux);
        }
      }
    }
  }
}
