@use "../mixins" as *;

.filestatdir {
  cursor: default;

  // The first dir is the root, skip styling that one.
  &__dir &__dir {
    margin-left: 1rem;
    @include no-select;

    &-name {
      color: var(--color-text-muted);
      position: relative;

      > span {
        cursor: pointer;
      }

      &::before {
        content: '';
        @include carat-down;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        position: absolute;
        left: -1.5rem;
        top: 0rem;
        width: 0.67rem;
        height: 0.67rem;
        padding: 0.45rem;
      }
    }

    &--closed {
      > .filestatdir__dir-name::before {
        transform: rotate(-90deg) translate(0.1rem, 0.05rem);
      }

      > .filestatdir__file {
        display: none;
      }

      .filestatdir__dir {
        display: none;
      }
    }
  }

  &__file {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
    color: var(--color-text);

    > span {
      cursor: pointer;
    }

    &--M {
      color: var(--color-file-modified);
    }

    &--A {
      color: var(--color-file-added);
    }

    &--D {
      color: var(--color-file-deleted);
    }

    &--R {
      color: var(--color-file-renamed);
    }

    &-old {
      color: var(--color-file-oldname);
    }
  }

  &__diff {
    color: var(--color-text-muted);

    .added {
      color: var(--color-file-diff-added);
    }

    .deleted {
      color: var(--color-file-diff-deleted);
    }
  }
}
