@use "../mixins" as *;

.commits {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  &.dragging {
    @include no-select;
    pointer-events: none;
  }

  &__table-container {
    overflow: auto;
    height: 100%;
  }

  &__table {
    margin-bottom: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;

    thead,
    tbody,
    tr {
      display: contents;
    }

    tr:first-child {
      td {
        padding: 0;
      }
    }
  }

  &__th {
    height: var(--commit-row-height);
    box-sizing: border-box;
    text-align: left;
    padding: 0.25rem 0.5rem 0.25rem 0.67rem;
    white-space: nowrap;
    background-color: var(--color-commitlisthead-bg);
    @include no-select;
    position: sticky;
    top: 0;
    z-index: 500;

    &--branch {
      text-align: right;
      padding-right: 1rem;
    }

    &--subject {
      width: 100%;
    }

    &-inner {
      padding: 0.25rem 0.5rem;
    }

    &:first-child {
      border-right: 1px solid var(--color-commitlisthead-border);
    }

    &:not(:first-child) {
      border-left: 1px solid var(--color-commitlisthead-border);
    }

    // Order z-index of columns in descending order to allow resizer to z-index correctly.
    @for $n from 0 to 8 {
      &:nth-child(#{$n}) {
        z-index: calc(550 - #{$n});
      }
    }
  }
}

.load-more-commits {
  margin-bottom: 2.5rem;
}

.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 7px;
  right: -1px;
  top: 0;
  z-index: 1;
  border-right: 2px solid transparent;
  height: var(--commit-row-height);
}

.resize-handle:hover {
  border-color: var(--color-scale-a-1-75);
}

.resize-handle.active {
  border-color: var(--color-scale-a-2-75);
}
