@use "../mixins" as *;

.commit {
  @include no-select;
  position: relative;

  &__td {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding-left: 0.67rem;
    padding-right: 0.67rem;
    height: var(--commit-row-height);
    box-sizing: border-box;
    white-space: nowrap;

    &:first-child {
      padding-left: 0.67rem;
      padding-right: 0;
    }

    &:last-child {
      padding-right: 0.75rem;
    }

    &--refs {
      justify-content: right;
    }

    &--tree {
      padding: 0;
      overflow: hidden;
    }

    .uncommitted & {
      pointer-events: none;
    }

    &:not(:first-child) {
      .uncommitted & {
        color: var(--color-commitlistitem-uncommitted);
      }

      .merge & {
        color: var(--color-commitlistitem-merge);
      }

      .stash & {
        color: var(--color-commitlistitem-stash);
        font-style: italic;
      }

      .head & {
        color: var(--color-commitlistitem-head);
      }
    }

    .avatar {
      height: calc(var(--commit-row-height) - 4px);
      width: calc(var(--commit-row-height) - 4px);
      min-width: calc(var(--commit-row-height) - 4px);
      margin-right: 0.5rem;
      // vertical-align:middle doesn't quite get it right here...
      vertical-align: middle;
    }
  }

  &:hover td,
  &.hover td {
    background-color: var(--color-commitlistitem-bg-hover);
  }

  &:focus td,
  &:focus-within td {
    background-color: var(--color-commitlistitem-bg-hover);
    outline: 0;
  }

  &.active td {
    background-color: var(--color-commitlistitem-bg-active);
  }

  &__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
