@use "../mixins" as *;

.getting-started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--title-bar-height));
  width: 100%;
  @include no-select;
  pointer-events: none;
  // Gravity
  padding-bottom: 2rem;
}
