@use "../mixins" as *;

.settings {
  text-align: left;
  padding: 2rem;
  overflow-y: auto;
  height: 100%;

  h2 {
    margin: 0 0 1rem;

    &:not(:first-of-type) {
      margin-top: 1rem;
      padding-top: 2rem;
      padding-bottom: 1rem;
      border-top: 1px solid var(--color-scale-a-7-100);
      border-bottom: 1px solid var(--color-scale-a-7-100);
    }
  }

  h3 {
    margin: 1rem 0 0;
    padding: 0.5rem 0 0;
    border-top: 1px solid var(--color-scale-a-7-100);
  }

  .setting {
    margin-bottom: 1rem;

    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    &--split {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    &__split {
      flex: 1;
    }
  
    &__name {
      margin: 0.5rem 0;
      color: var(--color-text-muted);
      font-weight: normal;
      @include no-select;
    }

    .text-input {
      margin: 0.5rem 0;

      input[type="text"] {
        width: 100%;
      }
    }

    .checkbox {
      margin-top: 1rem;
    }

    .override {
      &.overridden {
        opacity: 0.7;
      }

      &.empty {
        opacity: 0.7;
      }
    }
  }
}

.big-option {
  display: flex;
  column-gap: 1.5rem;

  &__option {
    flex: 1;
    border: 0.25rem solid var(--color-scale-a-7-100);
    border-radius: 0;

    &:hover {
      border-color: var(--color-btn-bg-hover);
    }

    &--active {
      background-color: var(--color-scale-a-6-100);
      border-color: var(--color-scale-a-5-100);

      &:hover {
        border-color: var(--color-scale-a-5-100);
      }
    }
  }

  &__icon {
    margin: 0.2rem 0.5rem 0.5rem;
  }

  &__name {
    font-size: 1.2rem;
    margin: 0.2rem;
  }

  &__desc {
    color: var(--color-text-muted);
  }
}
