.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  overflow: visible;
  height: 100%;
  border-right: 1px solid var(--color-sidebar-border);
}

.sidebar-big-button {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 1.5rem;
  border-bottom: 1px solid var(--color-btn-border);

  &.active {
    background-color: var(--color-sidebar-btn-active);
  }

  &.detached {
    background-color: var(--color-scale-r-8-75) !important;
  
    &:hover {
      background-color: var(--color-scale-r-7-75) !important;
    }
  }

  &__label {
    color: var(--color-text-label);
    font-size: 0.9rem;

    .detached & {
      color: var(--color-scale-r-1-100) !important;
    }
  }
}

.sidebar-dropdown {
  display: none;
  flex: 2;

  .btn {
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--color-btn-border);

    &.active {
      background-color: var(--color-sidebar-btn-active);
    }
  }

  .overlay {
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__bar {
    background-color: var(--color-sidebar-bg);
    border-right: 1px solid var(--color-sidebar-border);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
  }

  &__add {
    width: 100%;

    button {
      width: 100%;
      border: none;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    &--selected {
      background-color: var(--color-sidebar-dropdown-selected);
    }

    .icon {
      fill: var(--color-main-branch-star);
      margin: 0 0.125rem;
      position: relative;
      top: 0.125rem;
    }
  }

  &__remaining-space {
    flex: 1;
  }
}

.sidebar-remote-actions {
  background-color: var(--color-changes-bg);
  padding: 0.5rem 1rem;
  display: flex;

  .btn {
    flex: 1;
    font-size: 0.9rem;
    padding: 0.4rem 0.75rem;

    .icon {
      pointer-events: none;
    }

    svg {
      margin: 0 0.2rem 0 -0.5rem;
    }
  }
}
